<div class="cover">
    <div class="cover-content">
        <h2 class="cover-text-header">Manage your app data easily</h2>
        <h4 class="cover-text-body">Open source, autoscalable, multiplatform and secure</h4>
        <a class="try-it-now-button" href="/howto.html">Try it now!</a>
    </div>
</div>
<div class="cover-foot">
    <div class="arrow-down"></div>
</div>