{{#block "header"}}
<div id="header">
    <div class="header-content">
        <a class="brand" href="/"><img class="brand-image" src="images/brand-final.svg"></a>
        <nav class="nav-main">
            <li class="nav-main-item"><a href="/">Overview</a></li>
            <li class="nav-main-item"><a href="/howto.html">Getting started</a></li>
            <li class="nav-main-item"><a href="/pricing.html">Pricing</a></li>
            <li class="nav-main-item login-button"><a href="/login.html">Login</a></li>
            <li class="nav-main-item signup-button"><a href="/signup.html">Sign up</a></li>
        </nav>
    </div>
</div>
{{/block}}
