<div id="header">
    <div class="header-content">
        <a class="brand" href="http://bastly.com/"><img class="brand-image" src="http://bastly.com/images/brand-final.svg"></a>
        <nav class="nav-main">
            <li class="nav-main-item"><a href="http://bastly.com/">Overview</a></li>
            <li class="nav-main-item"><a href="http://bastly.com/howto.html">Getting started</a></li>
            <li class="nav-main-item"><a href="http://bastly.com/pricing.html">Pricing</a></li>
            <li class="nav-main-item"><a href="http://bastly.tumblr.com/">Blog</a></li>
            <li class="nav-main-item login-button"><a href="http://bastly.com/login.html">Login</a></li>
            <li class="nav-main-item signup-button"><a href="http://bastly.com/signup.html">Sign up</a></li>
        </nav>
    </div>
</div>