{MobileAppHeaders}
{block:Description}
    <meta name="description" content="{MetaDescription}">
{/block:Description}
{block:Hidden}
    <meta name="if:Sliding header" content="1">
    <meta name="if:Collapse navigation" content="1">
    <meta name="if:Endless scrolling" content="1">
    <meta name="select:Layout" content="regular" title="Regular">
    <meta name="select:Layout" content="narrow" title="Narrow">
    <meta name="select:Layout" content="grid" title="Grid">
{/block:Hidden}
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" >
<link rel="shortcut icon" href="http://bastly.com/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="{PortraitURL-128}">
<link rel="alternate" type="application/rss+xml" href="{RSS}">
